/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.headerImg {
  width: 350px;
  height: 185px;
}

.self {
  width: 350px;
  height: 185px;
}

.banner {
  width: 2000px;
  height: 124px;
}

img {
  border-radius: 8px;
  width: 600px;
  height: 400px;
}

.selfie {
  width: 400px;
  height: 450px;
  float:center;
}

/* .self {
   width: 300px;
  height: 400px;
} */

Header {
  font-family: "Courier New", Courier, monospace;
  color: #ef767a;
  background-color: #6457a6;
  font-weight: 100;
}

.aboutme {
  background-color: #23f0c7;
  color: #ef767a;
  font-size: 25px;
  text-align: center;
  margin:auto;
  width: 100%
  
}

.aboutmecard {
  background-color: #23f0c7;
  color: #ef767a;
  font-size: 18px;
  text-align: center;
  margin:auto;
  float:right;
  width: 100%
}

.aboutmecard2 {
  background-color: #23f0c7;
  color: #6457A6;
  font-size: 18px;
  text-align: center;
  margin:auto;
  float:left;
  width: 100%
}

.contact {
  background-color: #23f0c7;
  color: #ef767a;
  font-size: 20px;
}

.resume {
  background-color: #23f0c7;
  color: #ef767a;
  font-size: 20px;
  text-align: center;
}

.project {
  background-color: #23f0c7;
  color: #ef767a;
  font-size: 20px;
  display: flex;
}

/* links for footer */
.link-item {
  color: #ef767a;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 200
}

.link-button {
  color: #6457A6
}

footer {
  background-color: #23f0c7;
}
.myWork {
  background-color: #23f0c7;
  color: #ef767a;
}

h2 {
  color: #6457a6;
}

.card1 {
  color: #ef767a;
}

.Navigation {
  background-color: #23f0c7;
}

.NaviName {
  /* background-color: #EF767A; */
  color: #ef767a;
}

/* 
color scheme:
Yellow: #FFE347
darker purple: #6457A6
lighter purple: #7D7ABC
salmon: #EF767A
aqua: #23F0C7
*/
