.headerImg {
  width: 350px;
  height: 185px;
}

.self {
  width: 350px;
  height: 185px;
}

.banner {
  width: 2000px;
  height: 124px;
}

img {
  border-radius: 8px;
  width: 600px;
  height: 400px;
}

.selfie {
  width: 30%;
  height: 450px;
  float: center;
}

.workImg {
  margin: auto;
  width: 200px;
  height: 350px;
}

.projectBtn {
  /* float:center */
  display: flex;
  text-align: center;
  margin: auto;
}

.projectName {
  text-align: center;
}

.projectDesc {
  text-align: center;
}

/* .self {
   width: 300px;
  height: 400px;
} */

Header {
  font-family: "Courier New", Courier, monospace;
  color: #ef767a;
  background-color: #6457a6;
  font-weight: 100;
}

.aboutme {
  background-color: #23f0c7;
  color: #ef767a;
  font-size: 25px;
  text-align: center;
  margin: auto;
  width: 100%;
}

.aboutmecard {
  background-color: #23f0c7;
  color: #ef767a;
  font-size: 18px;
  text-align: center;
  margin: auto;
  float: right;
  width: 100%;
}

.aboutmecard2 {
  background-color: #23f0c7;
  color: #6457a6;
  font-size: 18px;
  text-align: center;
  margin: auto;
  float: left;
  width: 100%;
}

.contact {
  background-color: #23f0c7;
  color: #ef767a;
  font-size: 20px;
}

.resume {
  background-color: #23f0c7;
  color: #ef767a;
  font-size: 15px;
  text-align: center;
  /* float:center; */
  margin:auto;
   display: flex;
}

.resumeBtn{
  text-align: center;
  
}

.project {
  background-color: #23f0c7;
  color: #ef767a;
  font-size: 20px;
  display: flex;
  padding: "3rem";
  justify-content: space-between;
  padding: 16px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   margin: 1px;
}


.link-item {
  color: #ef767a;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 200;
}

.link-button {
  color: #6457a6;
}

footer {
  background-color: #23f0c7;
}
.myWork {
  background-color: #23f0c7;
  color: #ef767a;
  text-align: center;
}

h2 {
  color: #6457a6;
}

.card1 {
  color: #ef767a;
}

.Navigation {
  background-color: #23f0c7;
}

.NaviName {
  /* background-color: #EF767A; */
  color: #ef767a;
}

/* 
color scheme:
Yellow: #FFE347
darker purple: #6457A6
lighter purple: #7D7ABC
salmon: #EF767A
aqua: #23F0C7
*/
